body{
    margin :0;
    height: 600px;
}   
nav{
    background-color: #21222A;
    align-items: center;
    color:#61DAFB;
    display: flex;
    height: 130px;
    padding: 3px 25px;
}
.react_logo{
    width: 50px;
    height: 50px;
}
.nav--logo_text {
    margin-right: auto;
    margin-left: 6px;
    font-size: 28px;
}
.nav--title{
    color: white;
    font-size: 18px;
}
main{
    background-image: url('images/react.png');
    background-repeat: no-repeat;
    background-position: right;
    background-color: #282D35;
    margin: 0;
    height: 900px;

}
.main--title{
    margin:0;
    font-size: 50px;
    color: white;
    padding-left: 40px;
    padding-top: 40px;
    margin-bottom: 50px;
}
.main--list{
    color: white;
    font-size: 20px;
    padding-bottom: 15px;
}
li {
    padding-bottom: 15px;
    margin-left: 50px;
}
li::marker{
    font-size: 1.6em;
    color:#61DAFB;
    ;
}
